/*****************************
 *    Global Styles          *
/****************************/
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}
body {
    background-color: wheat;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

/*****************************
 *  Styling for calculator   *
/****************************/
.calc-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 650px;
    max-width: 400px;
    width: 90%;
    padding: 20px;
    border: solid 5px #41403E;
    background: #b1b1b1;
}
.calc-result-frame {
    background: #fefefe;
    border: solid 5px #41403E;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.calc-result-input {
    width: 85%;
    height: 70px;
    text-align: right;
    color: #41403E;
    overflow: hidden;
    font-size: 2rem;
}
.calc-logo {
    background: #41403e;
    color: #e8eff0;
    border: solid px #41403E;
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
}
.calc-on {
    border-radius: 50%;
    border: none;
    background: #bb0f29;
    color: #fefefe;
    width: 50px;
    height: 50px;
}
.calc-btn {
    background: transparent;
    color: #41403E;
    font-size: 2rem;
    width: 75px;
    height: 75px;
    outline: none;
    border: solid 7px #41403E;
    flex: 1;
    transition: all .5s ease;
}

.calc-enter {
    background: #bb0f29;
    color: #fefefe;
    border-radius: 20px;
    border: none;
}

/*****************************
 *       Flex Styles         *
/****************************/
.flex-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.flex-double {
    flex: 2;
}